This is a starting of python course.


<h1><b>SECTION 1

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
x=60.5
y=0.5
z=x-y
z

60.0

In [ ]:
print('60.5-0.5=',z)

60.5-0.5= 60.0

In [ ]:
my_cats = 1
cat_name = 'jimmy'
print('We have', my_cats, 'cat and his name is', cat_name)

We have 1 cat and his name is jimmy

In [ ]:
type(my_cats)
type(cat_name)

str

In [ ]:
print("hi, i'am writing python codes!")

hi, i'am writing python codes!

In [ ]:
name = "Sam"
print (name)

Sam

In [ ]:
last_name = name[1:]
last_name

'am'

In [ ]:
'P' + last_name

'Pam'

In [ ]:
x = "Hello World"
x = x + " today is a wonderful day!"
x

'Hello World today is a wonderful day!'

In [ ]:
name1 = "Azam"
age1 = 25
livein = "Ranchi"
print(f"Hello everyone, My name is {name1}, I'am {age1} years old and I live in {livein}.")

Hello everyone, My name is Azam, I'am 25 years old and I live in Ranchi.

In [ ]:
print("Hello everyone, My name is {n}, I am {a} years old and I live in {l}.".format(n="Azam",a=25,l="Ranchi"))

Hello everyone, My name is Azam, I am 25 years old and I live in Ranchi.

**LIST**

It is a function that store values in order of positions.

Creating an list of element is easily done.

x = [ E1, E2, E3 ... En].

Here 'x' is containing list of elements E1, E2 till En.

In [ ]:
list1=[0,1,2,3,4,5,6,7,8,9]

In [ ]:
# To call list we simply write the 'x'.
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

len() function shows the length of elements in an list.

In [ ]:
len(list1)

10

x [ a : b : c ] by typing this we call out the elements inside of 'x' list as follows, element from x list is called out starting from "a" position, ending before "b" position and calling in steps of "c" steps.

We should note that every counting is started from 0. But in practical world we start counting from 1. Therefore an analogy can be made of considering 0 as 1.

If you don't know how many elements are there in a list but want to call the last element then you should call **x [ -1 ]**. By using **-1** you are calling the last element even without knowing it's position. If you want to know the second last element then you should use this **[ -2 ]**. Basically using negetive number to call position picks the element from it's ending side and calling positive number picks elements from it's starting side.

In [ ]:
list1[0:10:1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can use a trick in this function as mentioned in comments below

In [ ]:
# x = [ n :  :  ] by typing in this way we call elements in 'x' starting from the nth position, going till (also including) the end position in steps of 1.

list1[ 0 :  :  ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# x = [  : n :  ] By typing in this way we call elements in 'x' starting from its initial position, going till (not including) the nth position in steps of 1.

list1[  : 5 :  ]

[0, 1, 2, 3, 4]

In [ ]:
# x = [  :  : n ] by typing in this way we call elements in 'x' staring from its initial position, going till (also including) the end position in steps of 'n'

list1[  :  : 2 ]

[0, 2, 4, 6, 8]

we can join together (conjugate) two different lists by simply adding a plus sign between those lists.

In [ ]:
list2=[10,11,12,13,14,15,16,17,18,19]
list3=list1+list2
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

.append(x) is a function that inserts an element 'x' at the last of list.

In [ ]:
list3.append(20)

In [ ]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

.pop() is a function which removes the last element from the x = [ ] list.

In [ ]:
#list3n holds the removed element from list3
list3n = list3.pop()
#calling list3n returns the removed element from list3 list.
list3n

20

In [ ]:
#here we can see the last element (i.e '20') is now permenently removed from list3
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

.pop(n) is a function which removes the n numbered element from x = [ ] list.

In [ ]:
#list3n1 holds the removed element from the 0th position
list3n1=list3.pop(0)
list3n1

0

In [ ]:
#here we can see the element from 0th position is now permenently removed from list3
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

We can replace any individual elements from an list.

In [ ]:
#Here is an list. Notice how there are two 3s in it.
x = [1,3,3,4,5,6]
x

[1, 3, 3, 4, 5, 6]

In [ ]:
#we will replace one 3 into 2.
x[1]=2
x

[1, 2, 3, 4, 5, 6]

Now we will see this feature in changing multiple elements from list.

In [ ]:
#notice how there are multiple repeated entries in here.
y=[1,1,2,3,4,5,5,6,8,8]
y

[1, 1, 2, 3, 4, 5, 5, 6, 8, 8]

In [ ]:
#lets correct all of it.
y[0] = 0
y[6] = 6
y[7] = 7
y[9] = 9
y

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We have a feature called "**.sort()**". This feature automatically sorts elements inside list in accending order by default.

In [ ]:
#creating jumbled arrangement of numbers.
a = [0,2,1,3,5,4,7,6,8,9]
a

[0, 2, 1, 3, 5, 4, 7, 6, 8, 9]

In [ ]:
#let's sort these elements
a.sort()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#creating jumbled arrangement of letters.
b = ['a','c','b','e','z','d']
b

['a', 'c', 'b', 'e', 'z', 'd']

In [ ]:
#let's sort these elements
b.sort()
b

['a', 'b', 'c', 'd', 'e', 'z']

In [ ]:
#multiple letters can also be arranged in accending order by using sort fuction.
c=['a','b','r','dd','eb','ea']
c

['a', 'b', 'r', 'dd', 'eb', 'ea']

In [ ]:
#here is sorted multiple letters
c.sort()
c

['a', 'b', 'dd', 'ea', 'eb', 'r']

In order to reverse the arrangement, We will use **.reverse()** function. Note that **.reverse()** function does not strictly arrange elements in decending order, but it reverses the arrangement. If reverse is done to a list for two time, it will go back to it's original arrangement.

In [ ]:
#lets us reverse previous three list.
a.reverse()
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#reversing two times will make change it back to it's original state.
a.reverse()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b.reverse()
b

['z', 'e', 'd', 'c', 'b', 'a']

In [ ]:
c.reverse()
c

['r', 'eb', 'ea', 'dd', 'b', 'a']

List can also be nested with another lists.

In [ ]:
list_nest=[a,b,c]

In [ ]:
list_nest

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 ['z', 'e', 'd', 'c', 'b', 'a'],
 ['r', 'eb', 'ea', 'dd', 'b', 'a']]

**Dictionary**

This is a feature that holds a value for a key. It can hold any datatype as you can see in examples below. Dictionaries are more useful than list because you can call the value by calling its associated keyword rather than remembering its position in list.

Its is written in this format:

my_dit = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

It can hold string.

In [ ]:
my_dit = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [ ]:
my_dit ['key1']

'value1'

In [ ]:
my_dit ['key2']

'value2'

In [ ]:
my_dit ['key3']

'value3'

It can hold decimals.

In [ ]:
price_lookup = {'apple':100,'banana':20,'anaar':200}

In [ ]:
price_lookup['apple']

100

In [ ]:
price_lookup['banana']

20

In [ ]:
price_lookup['anaar']

200

It can hold floats.

In [ ]:
price_float={'stock1':20.3, 'stock2':32.4, 'stock3':54.3}

In [ ]:
price_float['stock1']

20.3

In [ ]:
price_float['stock2']

32.4

In [ ]:
price_float['stock3']

54.3

It can also hold every datatype at once.

In [ ]:
all_type={'strings':'Azam','decimals':1997,'floats':15.01}

In [ ]:
all_type['strings']

'Azam'

In [ ]:
all_type['decimals']

1997

In [ ]:
all_type['floats']

15.01

And just like list, it can also be nested with other dictionaries and it can also be nested with lists.

In [ ]:
dit_nest={'k1':'normal','k2':['l','i','s','t'], 'k3':{'inkey1':'100','inkey2':'nest_dit'}}

In [ ]:
dit_nest

{'k1': 'normal',
 'k2': ['l', 'i', 's', 't'],
 'k3': {'inkey1': '100', 'inkey2': 'nest_dit'}}

In [ ]:
dit_nest['k1']

'normal'

In [ ]:
dit_nest['k2']

['l', 'i', 's', 't']

In [ ]:
dit_nest['k2'][0]

'l'

In [ ]:
dit_nest['k2'][1]

'i'

In [ ]:
dit_nest['k2'][2]

's'

In [ ]:
dit_nest['k2'][3]

't'

In [ ]:
dit_nest['k3']

{'inkey1': '100', 'inkey2': 'nest_dit'}

In [ ]:
dit_nest['k3']['inkey1']

'100'

In [ ]:
dit_nest['k3']['inkey2']

'nest_dit'

We can assign any element from dictionary or list in another place holder.
See the following example to understand.

In [ ]:
#We can assign any element from dictionary to placeholder.
ph1=dit_nest['k3']

In [ ]:
ph1

{'inkey1': '100', 'inkey2': 'nest_dit'}

In [ ]:
#We can assign any element from list to placeholder.
ph2=a[5]

In [ ]:
ph2

5

In [ ]:
#We can also modified the placeholder by using functions such as ".upper()" etc.
ph3=dit_nest['k2'][0]
ph3

'l'

In [ ]:
ph3.upper()

'L'

In [ ]:
ph3

'l'

We can insert a new key in an existing dictionary by doing as follows

In [ ]:
dit_inr={'k1':'v1','k2':'v2'}
dit_inr

{'k1': 'v1', 'k2': 'v2'}

In [ ]:
dit_inr['k3'] = 'v3'

In [ ]:
dit_inr

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

By using the same method to insert new elements in dictionary, we can also replace an exisiting element from any given dictionary.

In [ ]:
dit_inr

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [ ]:
#We are going to change k1's value.
dit_inr['k1'] = 'v1New'
dit_inr

{'k1': 'v1New', 'k2': 'v2', 'k3': 'v3'}

In order to just know the keys or values or items inside of existing dictionary we should use **.keys()** or **.values()** or **.items()** Respectively.

In [ ]:
#Following method should explain how to do it.
#We are looking for key's name.
dit_inr.keys()

dict_keys(['k1', 'k2', 'k3'])

In [ ]:
#We are looking for value's name.
dit_inr.values()

dict_values(['v1New', 'v2', 'v3'])

In [ ]:
#We are looking for item's name.
dit_inr.items()

dict_items([('k1', 'v1New'), ('k2', 'v2'), ('k3', 'v3')])

Do dictionaries keep an order? How do I print the values of the dictionary in order?

Dictionaries are mappings and do not retain order! If you do want the capabilities of a dictionary but you would like ordering as well, check out the **ordereddict** object lecture later on in the course!

**TUPLES**

Tuples are similar to list but they are immutable. This means that once an element inside the tuple is assigned then they cannot be re-assigned.

They use parenthesis i.e => (0,1,2)

In [ ]:
t=(1,2,3)
t

(1, 2, 3)

In [ ]:
type(t)

tuple

In [ ]:
t[0]

1

In [ ]:
t[1]

2

In [ ]:
t[2]

3

In [ ]:
#We know that tuples are immutable and hence it cannot be replaced like it can in list.
#lets us try to replace it.
t[0] = 10

TypeError: ignored

In [ ]:
#As we can see above, tuple does not support item assignment.
#This feature of tuple is made to enable better integrity in a code.

**SETS**

it is an unordered collections of unique elements. it means that there can only be one representative of the same object.

In [ ]:
my_set1=set()
my_set1

We can add elements inside set by using **.add()** function.

In [ ]:
my_set1.add(1)

In [ ]:
my_set1

In [ ]:
my_set1.add(2)

In [ ]:
my_set1

In [ ]:
my_set1.add(3)

In [ ]:
my_set1

In [ ]:
my_set1.add(5)

In [ ]:
my_set1

In [ ]:
my_set1.add(9)

In [ ]:
my_set1

In [ ]:
my_set1.add(4)

In [ ]:
my_set1

Now we will add same element multiple time. We know same element repeated multiple time will be reduced to only one if it doesn't exist and it will be ignored if that element exisited before.

In [ ]:
my_set1.add(9)

In [ ]:
#Element 9 was already there in the set. So adding it multiple time won't add.
my_set1

We can write set by creating a variable list and then putting that variable inside **set()** function.

In [ ]:
my_set2=[0,1,2,3,4,5,6,7,8,9]
set(my_set2)

We can use this way of writing to easily see how **set()** function ignores multiple entries of a single element.

In [ ]:
#Notice how set funtion will ignore multiple entries of repeated elements.
my_set3=[0,0,1,1,2,3,4,4,5,6,7,7,8,9,9,0]
set(my_set3)

We can do every disscused function without using any variable assignment.

Below is an example of fore said topic.

In [ ]:
set('Missisippi')

**BOOLEANS**

This allows to convey statement to be either **True** or **False**.

In [ ]:
# Boolean terms are required to have it's first letter to be in upper case.
# True or False is correct (note the upper case of first letter)
# true or false is incorrect, because their first letter is in lower case.

In [ ]:
True

In [ ]:
False

In [ ]:
true

In [ ]:
false

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

**I/O with Basic File in Python**


using this => **%%**, we can write files.

In [ ]:
%%writefile mytext.txt
Hello everyone!
I'm writing txt file inside python!
Quick brown fox jumps over the lazy dog!
I like sandwich very much!
Goodbye!

In [ ]:
%%writefile mytext2.txt
Hello everyone!
I'am writing text file inside python!

After writing a file, we can use it by assigning it to a variable by using **open()** function. see the below code to understand better.

**Note :** after using **.open()** function for opening a file. We must use **.close()** function on the same file to close it. This is necessary if you want to delete it later, or else python will complain that the file is cannot be deleted because it is already in use.

In [ ]:
myfile = open('mytext.txt')

In [ ]:
myfile2 = open('mytext2.txt')

After assigning a variable with a file we created. We can check the file info and it's type by calling that variable.

In [ ]:
myfile

**pwd** is a function that shows your current directory. It means that it shows full file path.

In [ ]:
pwd

In order to read the file we created, we will use **.read()** function.

In [ ]:
myfile.read()

There is a cursor system used while reading a file. After reading a file, the cursor moves to the end. When we repeat **.read()** function to read the same file again, we get this.

In [ ]:
myfile.read()

In order to read the file again but properly. We must reset the cursor system back to zero. To do that we use **.seek(0)** with the file name.

In [ ]:
myfile.seek(0)

After that we can read the file properly this time.

In [ ]:
myfile.read()

In this method we must reset the cursor every time to read same file multiple time.

In [ ]:
myfile.seek(0)

Using **.read()** returns everything in a file in a single-line string format.
In order to present everything written in file in a line by line format, we should use **.readlines()** function.

see the code below to understand.

In [ ]:
#This present file data in line by line format.
myfile.readlines()

In [ ]:
#if a file contains few written words then it will present it in single line but with elegance.
myfile2.readlines()

Beaware! you must write **.readlines()** not **.readline()** In order read everything inside of a file. Using **.readline()** will only return single line!

see the code below to understand.

In [ ]:
myfile.readline()

Now we will close the file.

In [ ]:
myfile.close()

In [ ]:
myfile2.close()

For opening and reading files without having to use **.close()** function every time. We write in the following pattern.

**NOTE :** We are going to use an existing file. Using this method of writing also help us get rid of cursor system and the necessity of reseting it everytime after use.

In [ ]:
with open('mytext.txt') as myfile1:
  contents = myfile1.readlines()

In [ ]:
contents

In [ ]:
contents

There are various modes in **open()** functions. One example is shown below to help in understanding.

In [ ]:
#Notice we added mode='r' in the open() function. This opens the file in "Read" mode. There are several modes that we will see later below.
with open('mytext.txt', mode='r') as myfile1:
  contents = myfile1.readlines()

In [ ]:
contents

In [ ]:
%%writefile file1.txt
Hello Everynyan!

**READING, WRITING AND APPENDING MODES**
* **mode='r'** is read only.
* **mode='w'** is write only. (overwrites file or creates new.)
* **mode='a'** is append only. (will addon to file.)
* **mode='r+'** is reading and writing.
* **mode='w+'** is writing and reading. (overwrites files or creates a new.)

In [ ]:
with open('file1.txt', mode='r') as f1:
  print(f1.read())

**Append mode**

Append mode will write in addition to existing information.

In [ ]:
with open('file1.txt', mode='r') as f1:
  print(f1.read())

In [ ]:
with open('file1.txt', mode='a') as f1:
  f1.write('I love cats!')

In [ ]:
with open('file1.txt', mode='r') as f1:
  print(f1.read())

**Write Mode**

Write mode will overwrite existing file or it will create a new file if the file name doesn't exist.

Overwriting an existing file

In [ ]:
#Lets overwrite file1.txt
with open('file1.txt', mode='w') as f1:
  f1.write('Konichiwa Nyan! <3')

In [ ]:
with open('file1.txt', mode='r') as f1:
  print(f1.read())

Writing a new file

In [ ]:
#Lets write a new file!
with open('file2.txt', mode='w') as f2:
  f2.write('Hello EveryCats!!')

In [ ]:
#We have created a new file using this method. Lets read it.
with open('file2.txt', mode='r') as f2:
  print(f2.read())

In [ ]:
x = open('test.txt', 'w')
x.write('Hello World')
#If .close() is not used then it will return lenght of strings in file
x.close()

**Resources for More Basic Practice**

Before you begin your assessment, I wanted to point out some helpful links for practice (don't worry about being able to do these exercises, I just want you to be aware of the links so you can visit them later, since we still haven't discussed functions, you won't be able to utilize a lot of these resources yet!):

* Basic Practice:

  http://codingbat.com/python

* More Mathematical (and Harder) Practice:

  https://projecteuler.net/archives

* List of Practice Problems:

  http://www.codeabbey.com/index/task_list

* A SubReddit Devoted to Daily Practice Problems:

  https://www.reddit.com/r/dailyprogrammer

* A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

  http://www.pythonchallenge.com/

<h1><b>SECTION 2

Comparision Operator

In [ ]:
#Equality

<h3><b>Equality</b></h3><br>To check if two values are equal in comparision, we use: <h6>"  <b>==</b>  "  sign.</h6>

In [ ]:
#comparing equality of same value integer returns "True".
2 == 2

In [ ]:
#comparing equality of different value interger returns "False".
2 == 3

In [ ]:
#We can also compare strings and many other data types
#comparing equality of same string returns "True".
'hello' == 'hello'

In [ ]:
#comparing equality of different strings returns "False".
'hello' == 'bye'

In [ ]:
#comparing operators in strings are case-sensetive.
'Bye' == 'bye'

In [ ]:
#if floats value is strictly equal to integers value then it will return 'True' in equality comparision.
2.00 == 2

In [ ]:
2.001 == 2

In [ ]:
#string version of 2 and integer version of two are not equal.
'2' == 2

<h3><b>Inequality</b></h3><br>To check if two values are not equal in comparision, we use: <h6>"  <b>!=</b>  "  sign.</h6>

In [ ]:
2!=2

In [ ]:
2!=3

In [ ]:
'2'!=2

In [ ]:
'Hello'!='hello'

Generally in Comparision. The question is always like, "How does LHS compares to RHS?". But not the other way around.

<h3><b>Comparing operator</b></h3><br>To check if two values, we use:

* <b><</b>  "Less than"
* <b>></b>  "More than"
* <b><=</b>  "less than or Equal to"
* <b>>=</b>  "More than or Equal to"

In [ ]:
#We are asking if 2 is greater than 3 which is false.
2>3

In [ ]:
#We are asking if 2 is less than 3 which is true.
2<3

In [ ]:
#We are asking if 2 is less than or equal to 3 which is true.
2<=3

In [ ]:
#We are asking if 2 is greater than or equal to 3 which is false.
2>=3

To compare three or more values or variables we use comparasion operator with **Logical Operator**.<br>
Logical Operator consists of three operators:
* AND Logic (and) : requires all compared element to be true in order to return True, else it will return False.
* OR Logic (or) : requires at least one of the compared element to be true to return True, else it will return False if all compared elements are False.
* NOT Logic (not) : it inverts the boolean result (i.e putting **not** logic to a **True** boolean will result in **False** boolean.

This method is called "**Chaining comparision operator with Logical Operator**".<br>In this method we can logically compare dependent or independent values or variables.<br>By using this method we can create certain conditions by which can write a program to run in a specific way.<br><br><h3>Independent and dependent comparision:</h3>
* Independent comparision means, we are comparing VoVs that are not related with each other.<br>(i.e. Comapring **2 > 3 (AND/OR) 'x' = 'y'**)
* Dependent comparision means, we are comparing VoVs that are related with each other in some way.<br>(i.e. Comparing **2 > 3 (AND/OR) 3 > 4**).<br><br>Note: In the dependent comparision we used the number 3 in both cases. This is what it means to be a dependent comparision.

In [ ]:
#Some examples:
2<3 and 3<4

In [ ]:
2<3 or 3<4

In [ ]:
2<3 and 3>4

In [ ]:
2<3 or 3>4

In [ ]:
3<4 and 'Hello' == 'Hello'

In [ ]:
3<4 and 'Hello' == 'hello'

In [ ]:
3<4 or 'Hello' == 'Hello'

In [ ]:
3<4 or'Hello' == 'hello'

In [ ]:
# NOT LOGICAL OPERATOR "not"
not(1==1)

<h1>Control Flow :</h1><br>Control flow allows to write a program which helps it to run in a specific way. Control flow uses systax of colons and indentation. Indentation system is crucial in python and this is what makes it different from other programing language.

<h3>if, elif and else function.</h3>

"**If**" syntax
<pre>
if some_condition:
  # execute_some_code
</pre>

This syntax only executes one command if certain condition is true. It does not return anything if the condition is false.

In [ ]:
#Example
hungry=True
if hungry:
  print('I need food!')

In [ ]:
#notice how there is no returning of anything when the condition is false.
hungry=False
if hungry:
  print('I need food!')

In [ ]:
#Example with comparision.
if 3<4:
  print('This is correct!')

In [ ]:
#One more example.
x=4+4+5-1
if x==12:
  print('Answer is correct!')

"**If-Else**" syntax
<pre>
if some_condition:
  # execute_this_code
else:
  # execute_that_code
</pre>
This syntax have two commands. It execute one command if certain condition is true or else, it executes another command.

In [ ]:
#Example
hungry=True
if hungry:
  print('I need food!')
else:
  print('I am OK!')

In [ ]:
#Example
hungry=False
if hungry:
  print('I need food!')
else:
  print('I am OK!')

In [ ]:
#Example
if 3<4:
  print('3 is less than 4 is true!')
else:
  print('3 is greater than 4 is false!')

In [ ]:
#Example
if 3>4:
  print('3 is less than 4 is true!')
else:
  print('3 is greater than 4 is false!')

In [ ]:
#Example
x=2+2-1
if x==3:
  print('Quick mafs!')
else:
  print('Mans feeling hot')

"**Elif**" syntax
<pre>
if some_condition:
  # execute_this_code
elif other_condition:
  # execute_that_code
else:
  # execute_other_code
</pre>
This syntax can have multiple conditions under which multiple commands can be executed.

In [ ]:
location = 'utopia'
if location=='shop':
  print('I am at shop!')
elif location=='bakery':
  print('I am at bakery!')
elif location=='store':
  print('I am at store!')
else:
  print("I don't know where I am!")

<h4><b>For Loop</b></h4><br>Many objects in python is iterable. That means the objects in python can go through many iteration. We can use iteration by using <b>For-Loop</b>.<br>
<pre>
<u>For-Loop</u> syntax

my_iterable = [1,2,3]
for item_name in my_iterable:
  print('item_name')
</pre>

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for term in mylist:
  print(term)

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for term in mylist:
  print('Hello kitty!')

In [ ]:
mylist1=['a','b','c','d','e','f','g','h']
for term1 in mylist1:
  print('BaoWao')

In [ ]:
for term in mylist:
  if term % 2 == 0:
    print(f'Even = {term}')
  else:
    print(f'Odd = {term}')

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
nums=0
for terms in mylist:
  nums=nums+terms

print(nums)

55

In [ ]:
# just by placing print inside indentation of for loop results in drastic changes
mylist=[1,2,3,4,5,6,7,8,9,10]
nums=0
for terms in mylist:
  nums=nums+terms
  print(nums)

1
3
6
10
15
21
28
36
45
55

In [ ]:
mystring = 'Hello World'
for letter in mystring:
  print(letter)

H
e
l
l
o

W
o
r
l
d

In [ ]:
for letter in 'Hello World!':
  print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [ ]:
for _ in 'Cool World!':
  print('Very Cool!')

Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!
Very Cool!

In [ ]:
mylistup=[(1,2),(3,4),(5,6),(7,8),(9,10)]
for (a,b) in mylistup:
  print(a)
  print(b)

1
2
3
4
5
6
7
8
9
10

In [ ]:
mylistup1=[(1,2,3),(4,5,6),(7,8,9),(10,11,12),(13,14,15)]
for (a,b,c) in mylistup1:
  print(a)
  print(b)
  print(c)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
mydit1={'k1':1,'k2':2,'k3':3}
for items in mydit1:
  print(items)

k1
k2
k3

In [ ]:
for items in mydit1.items():
  print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
for items in mydit1.keys():
  print(items)

k1
k2
k3

In [ ]:
for items in mydit1.values():
  print(items)

1
2
3

In [ ]:
for keys,values in mydit1.items():
  print(keys)
  print(values)

k1
1
k2
2
k3
3

<h4><b>While Loop</b></h4><br>While loop code will continue to execute a block of code <b>"while"</b> a particular condition is true.<br>Example scenario,
<ul>
<li>while my pool is not full, keep filling the water.</li>
<li>while my cat is not hungry, keep feeding my cats.</li>
</ul><br><pre>
<u>while-loop syntax:</u><br>
while some_boolean_condition:
  #do_something

while-loop can be used with else statement also.
<pre>
<u>while-loop with else statement:</u><br>
while some_boolean_condition:
  #do_this_thing
else:
  #do_that_thing
</pre>

In [ ]:
#examples
x=0
while x<10:
  print(f"**filling @{x}lv**")
  x+=1

**filling @0lv**
**filling @1lv**
**filling @2lv**
**filling @3lv**
**filling @4lv**
**filling @5lv**
**filling @6lv**
**filling @7lv**
**filling @8lv**
**filling @9lv**

In [ ]:
x=0
while x<10:
  print(f"**filling {x}level**")
  x+=1
else:
  print(f"The tank is full @ {x} level")

**filling 0level**
**filling 1level**
**filling 2level**
**filling 3level**
**filling 4level**
**filling 5level**
**filling 6level**
**filling 7level**
**filling 8level**
**filling 9level**
The tank is full @ 10 level

<h3>Break, Continue, Pass</h3><br>These statements adds more functionality to the loop functions. These are as follows:<br><br>
<li>break : Brakes out of current closest enclosing loop (it breaks out of loop at specific condition).</li>
<li>continue : Goes to the top of current enclosing loop (it skips iteration at specific condition).</li>
<li>pass : Does nothing at all (it ignores/pass the loop function, used mostly for putting placeholder).</li>

In [ ]:
#Example of pass.
x = [1,2,3]
for items in x:
  pass

print('placeholder')

placeholder

In [ ]:
#Example of continue.
mystring1="missisippi"
for items in mystring1:
  if items == 's':
    continue
  print(items)

m
i
i
i
p
p
i

In [ ]:
#Example of break.
mystring1="missisippi"
for items in mystring1:
  if items == 's':
    break
  print(items)

m
i

Useful operators in python.
* Range.
* 
* 
*

In [ ]:
#Range
for num in range(0,10,1):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
index_count=0
for letter in 'abcdefghijklmnopqrstuvwxyz':
  print(f"at position {index_count}, the letter is {letter}")
  index_count+=1

at position 0, the letter is a
at position 1, the letter is b
at position 2, the letter is c
at position 3, the letter is d
at position 4, the letter is e
at position 5, the letter is f
at position 6, the letter is g
at position 7, the letter is h
at position 8, the letter is i
at position 9, the letter is j
at position 10, the letter is k
at position 11, the letter is l
at position 12, the letter is m
at position 13, the letter is n
at position 14, the letter is o
at position 15, the letter is p
at position 16, the letter is q
at position 17, the letter is r
at position 18, the letter is s
at position 19, the letter is t
at position 20, the letter is u
at position 21, the letter is v
at position 22, the letter is w
at position 23, the letter is x
at position 24, the letter is y
at position 25, the letter is z

In [ ]:
index_count=0
word='abcde'
for letter in word:
  print(word[index_count])
  index_count+=1

a
b
c
d
e

In [ ]:
word='abcde'
for letter in enumerate(word):
  print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [ ]:
word='abcde'
for a,b in enumerate(word):
  print(a)
  print(b)
  print('\n')

0
a


1
b


2
c


3
d


4
e

In [ ]:
mylist1=[0,1,2,3,4,5]
mylist2=['a','b','c']
mylist3=[100,200,300]

In [ ]:
for terms in zip(mylist1,mylist2):
  print(terms)

(0, 'a')
(1, 'b')
(2, 'c')

In [ ]:
for a,b in zip(mylist1,mylist2):
  print(a)
  print(b)
  print('')

0
a

1
b

2
c

In [ ]:
for terms in zip(mylist1,mylist2,mylist3):
  print(terms)

(0, 'a', 100)
(1, 'b', 200)
(2, 'c', 300)

In [ ]:
list(zip(mylist1,mylist2,mylist3))

[(0, 'a', 100), (1, 'b', 200), (2, 'c', 300)]

In [ ]:
'x' in ['x','y','z']

True

In [ ]:
min(mylist3)

100

In [ ]:
max(mylist3)

300

In [ ]:
from random import shuffle

In [ ]:
mylist4=[1,2,3,4,5,6,7,8,9,0,10,11,12,13,14,15,16,17,18,19,20]

In [ ]:
shuffle(mylist4)

In [ ]:
mylist4

[14, 11, 15, 3, 16, 6, 10, 1, 4, 17, 12, 19, 0, 18, 5, 20, 9, 8, 7, 2, 13]

In [ ]:
mylist4

[14, 11, 15, 3, 16, 6, 10, 1, 4, 17, 12, 19, 0, 18, 5, 20, 9, 8, 7, 2, 13]

In [ ]:
from random import randint

In [ ]:
randint(0,100)

87

In [ ]:
randint(0,100)

41

In [ ]:
random_num = randint(0,100)

In [ ]:
random_num

93

In [ ]:
entry1=input('Enter a number: ')

Enter a number: 100

In [ ]:
entry1

'100'

In [ ]:
x=int(input("Enter value for x : "))
y=int(input("Enter value for y : "))
z=x+y
z

Enter value for x : 50
Enter value for y : 50

100

In [ ]:
name=input('What is your name?\n\t')
print(f"Welcome, {name}")

What is your name?
	Azam
Welcome, Azam

In [ ]:
mystring='Hello, Everynyan!'
mylist5=[]
for letter in mystring:
  mylist5.append(letter)
mylist5

['H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'E',
 'v',
 'e',
 'r',
 'y',
 'n',
 'y',
 'a',
 'n',
 '!']

In [ ]:
mylist6=[letter for letter in mystring]
mylist6

['H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'E',
 'v',
 'e',
 'r',
 'y',
 'n',
 'y',
 'a',
 'n',
 '!']

In [ ]:
mylist1=[x for x in range(0,10)]

In [ ]:
mylist1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
mylist1=[x for x in range(0,10) if x%2==0]

In [ ]:
mylist1

[0, 2, 4, 6, 8]

In [ ]:
celcius=[-40,0,10,20,32.5,40]

In [ ]:
fahrenheit=[((9/5)*temp+32) for temp in celcius]
fahrenheit

[-40.0, 32.0, 50.0, 68.0, 90.5, 104.0]

In [ ]:
fahrenheit=[]
for temp in celcius:
  fahrenheit.append((9/5)*temp+32)

fahrenheit

[-40.0, 32.0, 50.0, 68.0, 90.5, 104.0]

In [ ]:
results=[x if x%2==0 else f"odd{x}" for x in range(0,11)]
results

[0, 'odd1', 2, 'odd3', 4, 'odd5', 6, 'odd7', 8, 'odd9', 10]

In [ ]:
i = 1
while True:
  if i%3 == 0:
    break
  print(i)

  i += 1

1
2

In [ ]:
4 + 3 % 5

7